In [2]:
# Criando um DataFrame
idades = np.random.randint(20, 60, 20) #  idades aleatórias entre 20 e 60
salarios = idades * np.random.randint(80, 120, 20) # salários relacionados com a idade
pontuacoes = salarios * np.random.uniform(0.5, 1.5, 20) # pontuações relacionadas ao salário
profissoes = ['Engenheiro', 'Professor', 'Médico', 'Advogado', 'Designer', 'Analista', 'Gerente', 'Programador']
estado_civil = ['Casado', 'Solteiro', 'Viúvo', 'Divorciado']

novo_data = {
    'Idade': idades,
    'Salario': salarios,
    'Pontuaçao': pontuacoes.round(2),
}

dados = pd.DataFrame(novo_data)
dados['Profissao'] = np.random.choice(profissoes, size = len(dados))
dados['Estado_Civil'] = np.random.choice(estado_civil, size = len(dados))
dados.head(10)

   Idade  Salario  Pontuaçao    Profissao Estado_Civil
0     39     3744    2212.56    Professor       Casado
1     54     5022    6251.94  Programador       Casado
2     29     3103    3912.75   Engenheiro       Casado
3     52     5148    4511.63  Programador     Solteiro
4     37     3404    4489.79   Engenheiro   Divorciado
5     55     4510    3904.49   Engenheiro       Casado
6     32     2560    2301.28     Advogado       Casado
7     57     6384    5958.05    Professor   Divorciado
8     39     4407    4741.67     Designer     Solteiro
9     52     5408    4379.90      Gerente        Viúvo

Gráfico de barras com a média de salários por profissão

Gráfico de barras com HeatMap

Mapa de árvore

Boxplot

Gráfico de linha

Link da documentação da biblioteca
https://plotly.com/python/plotly-express/